# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Intellij
*/.idea/*

# data foloder
data/*

# dependencies
react-frontend/node_modules
react-frontend/package-lock.json
react-frontend/.pnp
react-frontend/.pnp.js

# testing
react-frontend/coverage

# production
react-frontend/build

commit.txt
