.app {
    width: 'max-content';
    margin: 0 auto;
  }
  
  .scroller {
    margin: 5px auto;
    height: 300px;
    /* width: 'max-content'; */
    overflow: auto;
    font-size: 8px;
  }
  
  .item {
    margin: 0;
  }